.show-container {
  margin: 0px 120px;
}

.cocktail-flex-box {
  display: flex;
}

.cocktail-container {
  border: 1px solid $deco_gold;
  width: 600px;
  // margin: 0px, auto;
}

.cocktail-container:last-child {
  margin-left: 40px;
}

.cocktail-card-body {
  height: 100%;
  padding: 20px;

  ul {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $deco_gold;
  }
}

.ingredients-form {
  margin-bottom: 20px;
}

.reviews-container {
  background-color: #f9f9f9;
  font-family: 'Didact Gothic', sans-serif;
  color: #646363;
  font-size: 14px;
  padding: 20px;
}

.review-section {
  padding-bottom: 20px;
}

.review-name {
  font-weight: bold;
  font-size: 25px;
}

.review-stars {
  float: right;
  vertical-align: text-bottom;
}
