.show-container {
  margin: 0px 120px;
}

.cocktail-container {
  border: 1px solid $deco_gold;
  width: 600px;
  margin: 0px, auto;
}

.cocktail-card-body {
  height: 100%;
  padding: 20px;

  ul {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $deco_gold;
  }
}

.ingredients-form {
  margin-bottom: 20px;
}
